{% extends "core/base.html" %}

{% block main %}
    <h1 class="text-3xl">About Pizarra</h1>
    <div class="mt-6 space-y-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dolor iusto magnam, rerum consequatur quia obcaecati nemo, aspernatur, debitis consequuntur sit dignissimos molestiae harum autem labore illum tempora consectetur rem?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dolor iusto magnam, rerum consequatur quia obcaecati nemo, aspernatur, debitis consequuntur sit dignissimos molestiae harum autem labore illum tempora consectetur rem?</p>
    </div>

{% endblock main %}