<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizarra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.0/css/all.min.css" integrity="sha512-ykRBEJhyZ+B/BIJcBuOyUoIxh0OfdICfHPnPfBy7eIiyJv536ojTCsgX8aqrLQ9VJZHGz4tvYyzOM0lkgmQZGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="py-6 px-8 flex items-center justify-between bg-slate-800">
        <a href="{% url "core:home" %}"><h1 class="text-xl text-white">Pizarra</h1></a>
        <div class="space-x-4">
            <a href="{% url "core:about" %}" class="text-white">About</a>
        {% if request.user.is_authenticated %}
            <a href="{% url "projects:projects" %}" class="py-4 px-8 bg-slate-600 text-white">My Projects</a>
            <a href="#" class="py-4 px-8 bg-sky-600 text-white">My Account</a>       
        {% else %}
            <a href="{% url "account:login" %}" class="py-4 px-8 bg-slate-600 text-white">Log in</a>
            <a href="{% url "account:signup" %}" class="py-4 px-8 bg-sky-600 text-white">Sign up</a>
        {% endif %}
        </div>
    </nav>

    <main class="py-8 px-8">
        {% block main %}
        {% endblock main %}
    </main>

    <footer class="py-8 px-8 bg-slate-800 text-center">
        <p class="text-white">Copyright &copy; 2024 - Unkerpaulie</p>
        <p><a href="/admin">Admin log in</a></p>
    </footer>
</body>
</html>